<!-- Map -->
<div id="map" class="main clearfix">
  <div class="pc" id="map_canvas" style="width: 100%; height: 500px;">
  </div>
</div>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCYPzMb6-x79ZdF4cZ1buIxd7FE3UTdVyE&language=en">
</script>

<script>
  function initialize(){
    var styles = [{stylers: []}];
    var myOptions = {
        zoom: 16,
        center: new google.maps.LatLng(35.4546455,139.6400204),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false,
        scrollwheel: false,
        streetViewControl: false,
        styles: styles
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var markers = [
      ['VERANDA', 35.454754, 139.641638, 'images/veranda_map_logo.png']
    ];
    for (var i = 0; i < markers.length; i++) {
        var name = markers[i][0];
        var latlng = new google.maps.LatLng(markers[i][1],markers[i][2]);
        var icons = markers[i][3];
        createMarker(name,latlng,icons,map)
    }
  };
  function createMarker(name,latlng,icons,map){
    var marker = new google.maps.Marker({
      position: latlng,
      icon:icons,
      map: map
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
