<!-- RSVP -->
<div class="inner">
  <header class="major">
    <h2>RSVP</h2>
    <form method="POST" action="http://formspree.io/sftmb4+wedding@gmail.com">
      Party
      <select name="party" style="background: #2e3842; margin-top: 4px">
        <option value="none">-</option>
        <option value="ayako">Ayako</option>
        <option value="Terrell">Terrell</option>
      </select>
      <br>First Name
      <input type="text" name="first_name" style="background: #2e3842; margin-top: 4px"/>
      <br>Last Name
      <input type="text" name="last_name" style="background: #2e3842; margin-top: 4px"/>
      <br>Email
      <input type="text" name="email" style="background: #2e3842; margin-top: 4px"/>
  	  <br>
  	  <button type="submit" style="background: #ed4933">RSVP</button>
  	</form>
  </header>
  <ul class="icons major">
    <li><span class="icon fa-female major style1"><span class="label">Ayako</span></span></li>
    <li><span class="icon fa-heart-o major style4"><span class="label">Wedding</span></span></li>
    <li><span class="icon fa-male major style3"><span class="label">Terrell</span></span></li>
  </ul>
</div>
