<!-- Venue -->
<div class="venue">
  <header class="major">
    <h2>Venue</h2>
    <br>
    <h4>Bayside Geihinkan Veranda</h4>
    <p>1 Chome-3-1 Shinkō, Naka-ku<br />
    Yokohama-shi, Kanagawa-ken, Japan, 231-0001<br />
    TEL: <a href="tel:+81-045-222-6550">+81-045-222-6550</a><br />
    <a href="https://www.tgn.co.jp/hall/yokohama/bgv" target="_blank">https://www.tgn.co.jp/hall/yokohama/bgv</a>
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.998876299315!2d139.6394912516601!3d35.45482224986443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185c570bc03d2f%3A0xfc52277cfb5c43bc!2sBAYSIDE+GEIHINKAN+VERANDA!5e0!3m2!1sen!2sjp!4v1543392344026" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </header>
  <h4>Access</h4>
  <ul class="features">
    <li class="icon fa-train">
      <h3>Minatomirai Line</h3>
      <p>9-minute walk from exit #6 of <a href="https://goo.gl/maps/dMK5VKY6tRv" target="_blank">Bashamichi Station</a></p>
    </li>
    <li class="icon fa-train">
      <h3>Blue Line Subway, JR Negishi Line</h3>
      <p>15-minute walk from East exit of <a href="https://goo.gl/maps/PZDfJH7TXEq" target="_blank">Sakuragicho Station</a></p>
    </li>
    <li class="icon fa-bus">
      <h3>Akai Kutsu Bus(Route C)</h3>
      <p>10-minutes from <a href="http://www.city.yokohama.lg.jp/koutuu/kankou/sanrosen/pdf/burari-reaflet-e.pdf" target="_blank">Sakuragicho Station to Akarengasoko/MARINE & WALK</a></p>
    </li>
    <li class="icon fa-car">
      <h3>Shuto Expressway</h3>
      <p>Take exit for Minatomirai or Yokohama Koen<br />
      Parking: <a href="https://www.marineandwalk.jp/en/#services-parking" target="_blank">https://www.marineandwalk.jp/en/#services-parking</a></p>
    </li>
  </ul>
</div>
