<!-- Hotels -->
<div class="hotels">
  <header class="major">
    <h2>Reccomended Hotels</h2>
  </header>
  <ul class="features">
    <li>
      <h3>Yokohama Bay Hotel Tokyu</h3>
      <pre><a href="https://goo.gl/maps/YWR8MUEsMr72" target="_blank">https://goo.gl/maps/YWR8MUEsMr72</a></pre>
      <img src="{{ site.url }}/{{ site.baseurl}}/images/hotels/tokyu.jpg" alt="Tokyu" align="middle">
    </li>
    <li>
      <h2>Navios Yokohama</h2>
      <pre><a href="https://goo.gl/maps/rNj7jHwsajD2" target="_blank">https://goo.gl/maps/rNj7jHwsajD2</a></pre>
      <img src="{{ site.url }}/{{ site.baseurl}}/images/hotels/navios.jpg" alt="Navios" align="middle">
    </li>
    <li>
      <h2>Sotetsu Fresa Inn</h2>
      <pre><a href="https://goo.gl/maps/FmtvioQTCRu" target="_blank">https://goo.gl/maps/FmtvioQTCRu</a></pre>
      <img src="{{ site.url }}/{{ site.baseurl}}/images/hotels/fresa.jpg" alt="Fresa" align="middle">
    </li>
    <li>
      <h2>Washington Hotel</h2>
      <pre><a href="https://goo.gl/maps/mRsXC8BTGvo" target="_blank">https://goo.gl/maps/mRsXC8BTGvo</a></pre>
      <img src="{{ site.url }}/{{ site.baseurl}}/images/hotels/washington.jpg" alt="Washington" align="middle">
    </li>
  </ul>
</div>
