<!-- Venue -->
<div class="venue">
  <header class="major">
    <h2>会場</h2>
    <br>
    <h4>Bayside Geihinkan Veranda</h4>
    <pre>
〒231-0001 神奈川県横浜市中区新港1-3-1
MARINE ＆ WALK YOKOHAMA
TEL: <a href="tel:+81-045-222-6550">+81-045-222-6550</a>
<a href="https://www.tgn.co.jp/hall/yokohama/bgv" target="_blank">https://www.tgn.co.jp/hall/yokohama/bgv</a>
    </pre>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.998876299315!2d139.6394912516601!3d35.45482224986443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185c570bc03d2f%3A0xfc52277cfb5c43bc!2sBAYSIDE+GEIHINKAN+VERANDA!5e0!3m2!1sen!2sjp!4v1543392344026" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </header>
  <h3>Access</h3>
  <ul class="features">
    <li class="icon fa-train">
      <h4>みなとみらい線</h4>
      <p><a href="https://goo.gl/maps/dMK5VKY6tRv" target="_blank">馬車道駅</a>6番出口または「日本大通り駅」より徒歩約9分</p>
    </li>
    <li class="icon fa-train">
      <h4>ブルーライン地下鉄, JR根岸線</h4>
      <p><a href="https://goo.gl/maps/PZDfJH7TXEq" target="_blank">「桜木町駅」</a>より汽車道経由で徒歩約15分</p>
    </li>
    <li class="icon fa-bus">
      <h4>観光スポット周遊バス"あかいくつ"</h4>
      <p>桜木町駅」から「赤レンガ倉庫」下車（毎日運行</p>
      <p>運賃：大人現金220円（IC216円）小児現金110円（IC108円）</p>
      <p>ご利用料金・運行時間など詳しくはこちらをご覧ください: <a href="http://www.city.yokohama.lg.jp/koutuu/kankou/akaikutsu/" target="_blank">横浜市営交通</a></p>
    </li>
    <li class="icon fa-car">
      <h4>首都高速</h4>
      <p>「みなとみらい」または「横浜公園」出口をご利用ください</p>
      <p><a href="https://www.marineandwalk.jp/#services-parking" target="_blank">駐車場サービスはこちら</a></p>
    </li>
  </ul>
</div>
